.bg1
{
    background-color: #9AECDB;
    color: #BDC581;
}

.bg2
{
    background-color:#F8EFBA;
    color:#FC427B;    
}

.bg3
{
    background-color: #7efff5;
    color: #7d5fff;
}

.container-fluid
{
    padding-top: 70px;
    padding-bottom: 70px;
}

.h1
{
    background-color:#F8EFBA;
    color: #7d5fff;
}


#c
{
    background-color: #7efff5;
    color:#FC427B;    
}







